@import "../../variables";

#root {
  #main-form-editor {
    .ant-space.ant-space-vertical {
      width: 100%;
    }

    .ant-btn-icon-only {
      color: #777777;
    }

    .form-editor-wrapper {
      border-bottom: 2px solid #777777;

      .ant-input {
        width: 40%;
      }
    }

    .question-group-editor-wrapper {
      .qge-card-wrapper {
        background-color: #f5f9ff;
        border: 1px solid #777777;

        .ant-card-body {
          padding: 12px 0;
        }

        .section-title-row {
          border-bottom: 2px solid #777777;
          .left {
            .ant-input {
              border: none;
            }

            .ant-form-item {
              margin: 0;
            }
          }

          .right {
            padding-right: 10px;
            .ant-space {
              float: right;
            }
          }
        }
      }
    }
  }

  .question-editor-wrapper {
    padding: 14px 14px 0 14px;
    .q-card-wrapper {
      padding: 0 14px;
      background-color: $bg-grey;

      .left {
        .ant-form-item {
          margin: 0;
        }

        .ant-collapse > .ant-collapse-item {
          border-bottom: none;
        }

        .ant-collapse
          > .ant-collapse-item.ant-collapse-no-arrow
          > .ant-collapse-header {
          padding: 0;
        }

        .ant-row.ant-form-item {
          width: 100%;
        }

        .ant-form-item-label > label:after {
          content: none;
        }

        .ant-collapse-content > .ant-collapse-content-box {
          padding: 0;
        }
      }

      .right {
        position: absolute;
        top: 12px;
        right: 0;

        .ant-space {
          float: right;
        }
      }
    }

    .panel-body-wrapper {
      .button-wrapper {
      }

      .input-wrapper {
        width: 100%;
        background-color: $white;
      }
    }
  }
}
