@import "../../variables";

#root {
  #main-form-editor {
    .ant-space.ant-space-vertical {
      width: 100%;
    }

    .ant-btn-icon-only {
      color: #777777;
    }

    .form-editor-wrapper {
      border-bottom: 2px solid #777777;

      .ant-input {
        width: 40%;
      }
    }

    .question-group-editor-wrapper {
      .qge-card-wrapper {
        background-color: #f5f9ff;
        border: 1px solid #777777;

        .ant-card-body {
          padding: 12px 0;
        }

        .section-title-row {
          border-bottom: 2px solid #777777;
          .left {
            .ant-input {
              border: none;
            }

            .ant-form-item {
              margin: 0;
            }
          }

          .right {
            padding-right: 10px;
            .ant-space {
              float: right;
            }
          }
        }
      }
    }
  }

  .question-editor-wrapper {
    padding: 14px 14px 0 14px;
    .question-card-wrapper {
      padding: 0 14px;
      background-color: $bg-grey;

      .left {
        .ant-form-item {
          margin: 0;
        }

        .ant-collapse > .ant-collapse-item {
          border-bottom: none;
        }

        .ant-collapse
          > .ant-collapse-item.ant-collapse-no-arrow
          > .ant-collapse-header {
          padding: 0;
        }

        .ant-row.ant-form-item {
          width: 100%;
        }

        .ant-form-item-label > label:after {
          content: none;
        }

        .ant-collapse-content > .ant-collapse-content-box {
          padding: 0;
        }

        .question-number {
          margin-right: 5px;
          margin-top: 3px;
          font-weight: 600;
        }
      }

      .right {
        position: absolute;
        top: 13px;
        right: 0;

        .ant-space {
          float: right;
        }

        .custom-dropdown-wrapper {
          width: 16rem;
        }
      }
    }

    .panel-body-wrapper {
      .button-wrapper {
      }

      .input-wrapper {
        width: calc(100% - 40px);
        background-color: $white;

        .question-setting-wrapper {
          padding: 20px;
          border-bottom: 1px solid #777777;

          .ant-input {
            margin-bottom: 12px;
          }
        }

        .question-button-wrapper {
          float: right;
          padding: 14px;
        }
      }
    }

    .ant-form-item-label > label {
      .translation-label {
        width: 175px;
        text-align: left;
      }
    }

    .translation-tab-wrapper {
      background-color: $white;
      width: 100%;
      padding-top: 5px;
      border-bottom: 1px solid #777777;

      button.active {
        border-bottom: 2px solid #777777;
      }
    }
  }
}
