@import "../../variables";

#root {
  #download-feedback {
    .page-title-wrapper {
      border-bottom: 1px solid #777777;
    }

    .page-title {
      margin: 40px 0 20px 0;
    }

    .filter-wrapper {
      padding: 24px 0;
      font-size: 14px;

      .isco-dropdown-wrapper {
        width: 18rem;
      }

      .monitoring-round-selector {
        width: 12rem;
      }
    }

    .ant-btn {
      height: 32px;
    }
  }
}
