@import "../../variables.scss";

#root {
  #manage-roadmap {
    .page-title-wrapper {
      border-bottom: 1px solid #777777;
    }

    .page-title {
      margin: 40px 0 20px 0;
    }

    .tab-menu-wrapper {
      margin: 10px 0;
    }

    .select-organisation-wrapper {
      margin: 12px 0;
      .select-organisation-dropdown {
        width: 250px;
      }
    }

    .loading-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 35px;
      left: 0;
    }

    /* customize webform/akvo-react-form style */
    #webform {
      border: 1px solid #cecece;
      padding: 1px;

      .arf-form-header {
        .ant-select {
          display: none;
        }
      }

      .arf-next {
        button {
          background-color: transparent;
          border: 2px solid #777777;
        }
      }

      /* Field background */
      .arf-field {
        background: #f3f3f3;
        margin-bottom: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
      }

      /* Question group description */
      .arf-description {
        background-color: #f3f3f3;
        padding: 8px;
        font-style: italic;
      }

      button.ant-btn.ant-btn-default.ant-btn-sm.ant-btn-icon-only {
        min-height: 0;
        background-color: #777777;
        color: $white;

        &.arf-disabled {
          background-color: #eaeaea;
          color: $black;
        }
      }

      button.ant-btn.ant-btn-primary.ant-btn-icon-only {
        border: none;
        background: transparent;
        color: $black;
        box-shadow: none;
        &:disabled {
          color: #777777;
        }
      }
    }
    /* end customize webform/akvo-react-form style */
  }
}
