@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

#root {
  font-family: $font-family;
  font-size: 1rem;

  .container {
    padding: $padding-container-y $padding-container-x;
    min-height: calc(100vh - 10rem);
  }

  .bg-grey {
    background-color: $bg-grey;
  }
  th.bg-grey {
    background-color: #fafafa;
  }

  .custom-dropdown-wrapper {
    width: 200px;
  }
}
