<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h2
        style="
          text-align: center;
          padding: 10px;
          background: #f2f2f2;
          border: 1px solid #ddd;
          margin: 0px;
          font-size: 20px;
        "
      >
        {{data.form.name}}
      </h2>
      <h4
        style="
          text-align: center;
          padding: 5px;
          margin: 0px;
          font-size: 16px;
          margin-bottom: 12px;
        "
      >
        {{ data.organisation.name }} - {{ data.submitted_by.name }} - {{
        data.submitted }}
      </h4>
      <!-- {{data.form.description}}  -->
      {% for dt in detail %}
      <div class="row" style="margin-bottom: 10px; margin-top: 10px">
        <div class="col">
          <h3
            style="
              text-align: center;
              padding: 10px;
              background: #f2f2f2;
              border: 1px solid #ddd;
              margin: 0px;
              font-size: 20px;
            "
          >
            {{dt.name}}
          </h3>
          {% if dt.description %}
          <div
            style="
              padding: 20px;
              background: #fcfcfc;
              border-left: 1px solid #ddd;
              border-right: 1px solid #ddd;
              margin: 0px;
              font-style: italic;
              font-size: 14px;
            "
          >
            {{dt.description}}
          </div>
          {% endif %} {% for r in dt.data %}
          <table class="table table-bordered" style="margin-bottom: 0px">
            {% if dt.repeatable %}
            <thead>
              <tr>
                <th scope="col">{{dt.name}} - {{r.repeat + 1}}</th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              {% for a in r.answers %} {% if a.value %}
              <tr>
                <td>
                  <div style="font-weight: 500">
                    {{a.question}} {% if a.tooltip %}
                    <div
                      style="
                        display: block;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: normal;
                      "
                    >
                      Tooltip: {{a.tooltip}}
                    </div>
                    {% endif %}
                    <div
                      style="
                        display: block;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: normal;
                      "
                    >
                      Answer:
                    </div>
                  </div>
                  <div style="padding: 10px">
                    {% if a.value_type == "list" and a.value %}
                    <ul style="margin-bottom: 0px">
                      {% for v in a.value %}
                      <li>{{v}}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <div style="margin-left: 20px">{{ a.value }}</div>
                    {% endif %}
                  </div>
                  {% if a.comment %}
                  <div
                    style="
                      font-style: italic;
                      font-size: 14px;
                      padding-top: 8px;
                      border-top: 1px solid #ddd;
                    "
                  >
                    <b>Comment:</b> {{a.comment}}
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
