<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1.5px sollid #777777;
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <div class="container header">
      <img
        style="height: 30px"
        alt="{{ webdomain }}/images/beyond.jpg"
        src="{{ webdomain }}/images/beyond.jpg"
      />
      <img
        style="height: 30px"
        alt="{{ webdomain }}/images/gisco.jpg"
        src="{{ webdomain }}/images/gisco.jpg"
      />
      <img
        style="height: 30px"
        alt="{{ webdomain }}/images/disco.png"
        src="{{ webdomain }}/images/disco.png"
      />
    </div>
    <!-- End of Header -->
    <div class="container">
      <h2
        style="
          text-align: center;
          padding: 10px;
          background: #f2f2f2;
          border: 1.5px solid #777777;
          margin: 0px;
          font-size: 20px;
        "
      >
        {{data.form.name}}
      </h2>
      <ul
        style="
          list-style-type: none;
          padding: 15px;
          margin: 0;
          font-size: 15px;
          margin-bottom: 20px;
          float: left;
        "
      >
        <li>Member : {{ data.organisation.name }}</li>
        <li>Submitter : {{ data.submitted_by.name }}</li>
        <li>Date of submission : {{ data.submitted }}</li>
      </ul>
      <ul
        style="
          list-style-type: none;
          padding: 15px;
          margin: 0;
          font-size: 15px;
          margin-bottom: 20px;
          text-align: right;
          float: right;
        "
      >
      {% if data.submitted == None %}
        <li>Status : Draft</li>
      {% endif %}
      <li>Requested by : {{ data.request_by }}</li>
      <li>Requested date : {{ data.request_date }}</li>
      </ul>
      <!-- {{data.form.description}}  -->
      {% for dt in detail %}
      <div
        class="row"
        style="
          margin-bottom: 10px;
          margin-top: 10px;
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
        "
      >
        <div
          class="col"
          style="width: 100%; padding-left: 0px; padding-right: 0px"
        >
          <div style="page-break-inside: avoid">
            <h3
              style="
                text-align: center;
                padding: 10px;
                background: #f2f2f2;
                border: 1.5px solid #777777;
                margin: 0px;
                font-size: 20px;
              "
            >
              {{dt.name}}
            </h3>
            {% if dt.description %}
            <div
              style="
                padding: 20px;
                background: #fcfcfc;
                border-left: 1.5px solid #777777;
                border-right: 1.5px solid #777777;
                margin: 0px;
                font-style: italic;
                font-size: 14px;
              "
            >
              {{dt.description}}
            </div>
            {% endif %}
          </div>
          {% for r in dt.data %}
          <table
            class="table"
            style="margin-bottom: 0px; border: 1.5px solid #777777"
          >
            {% if dt.repeatable %}
            <thead>
              <tr>
                <th style="page-break-inside: avoid" scope="col">
                  {{dt.name}} - {{r.repeat + 1}}
                </th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              {% for a in r.answers %} {% if a.value %}
              <tr>
                <td style="page-break-inside: avoid; word-break: break-word">
                  <div style="font-weight: 500">
                    {{a.question}} {% if a.tooltip %}
                    <div
                      style="
                        display: block;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: normal;
                      "
                    >
                      Tooltip: {{a.tooltip}}
                    </div>
                    {% endif %}
                    <div
                      style="
                        display: block;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: normal;
                      "
                    >
                      Answer:
                    </div>
                  </div>
                  <div style="padding: 10px">
                    {% if a.value_type == "list" and a.value %}
                    <ul style="margin-bottom: 0px">
                      {% for v in a.value %}
                      <li>{{v}}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <div style="margin-left: 20px">{{ a.value }}</div>
                    {% endif %}
                  </div>
                  {% if a.comment %}
                  <div
                    style="
                      font-style: italic;
                      font-size: 14px;
                      padding-top: 8px;
                      border-top: 1.5px solid #777777;
                    "
                  >
                    <b>Comment:</b> {{a.comment}}
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
