<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Styles go here */
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .page-footer,
      .page-footer-space {
        height: 90px;
      }
      .page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid black;
      }

      .page-header {
        position: fixed;
        top: 0mm;
        width: 100%;
        border-bottom: 1px solid black;
      }

      table {
        width: 100%;
        border-collapse: separate;
      }

      p {
        font-size: 14px;
      }

      @page {
        margin: 20mm;
      }

      @media print {
        thead {
          display: table-header-group;
        }

        tfoot {
          display: table-footer-group;
        }

        button {
          display: none;
        }

        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    </style>
  </head>

  <body>
    {% if data.language == "de" %}
    <div class="page-footer">
      <h2
        style="
          color: #789922;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 5px;
          margin-top: 5px;
        "
      >
        GISCO Secretariat / Forum Nachhaltiger Kakao e.V.
      </h2>
      <p style="font-size: 10px; margin-top: 0px">
        c/o Repräsentanz der Deutschen Gesellschaft für Internationale
        Zusammenarbeit (GIZ) GmbH I Reichpietschufer 20 I 10785 Berlin
        Geschäftsführerin Beate Weiskopf I Tel.: +49 6196 79-1462 I Mobil: +49
        151 64907842 I E-Mail: info@kakaoforum.de I
        <a href="https://www.kakaoforum.de" target="_blank"
          >www.kakaoforum.de</a
        >
      </p>
    </div>
    {% else %}
    <div class="page-footer">
      <h2
        style="
          color: #789922;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 5px;
          margin-top: 5px;
        "
      >
        GISCO Secretariat / Forum Nachhaltiger Kakao e.V.
      </h2>
      <p style="font-size: 11px; margin-top: 0px">
        c/o Repräsentanz der Deutschen Gesellschaft für Internationale
        Zusammenarbeit (GIZ) GmbH I Reichpietschufer 20 I 10785 Berlin
        Geschäftsführerin Beate Weiskopf I Tel.: +49 6196 79-1462 I Mobil: +49
        151 64907842 I E-Mail: info@kakaoforum.de I
        <a href="https://www.kakaoforum.de" target="_blank"
          >www.kakaoforum.de</a
        >
      </p>
    </div>
    {% endif %}

    <div class="container header">
      <img
        style="height: 60px"
        alt="{{ webdomain }}/images/gisco.jpg"
        src="{{ webdomain }}/images/gisco.jpg"
      />
    </div>
    <div
      style="
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        color: #673017;
        margin-bottom: 20px;
        margin-top: 10px;
      "
    >
      ROADMAP : <span style="color: #789922">{{data.organisation.name}}</span>
    </div>
    <table>
      <tbody>
        <tr>
          <td>
            <!--*** CONTENT GOES HERE ***-->
            <div class="page">
              <div style="background-color: #e1e9d4; border: 2px solid #789922">
                <h2
                  style="
                    text-align: left;
                    padding: 10px;
                    padding-bottom: 0px;
                    margin: 0px;
                    font-size: 19px;
                    color: #673017;
                  "
                >
                  {% if data.language == "de" %} Hintergrund {% else %}
                  Background {% endif %}
                </h2>
                <div style="padding: 10px">
                  {% if data.language == "de" %}
                  <p>
                    Im Rahmen der Mitgliederversammlung des Forum Nachhaltiger
                    Kakao wurde beschlossen, dass die Erstellung einer
                    individuellen Roadmap durch jedes Mitglied und die jährliche
                    öffentliche Berichterstattung über Commitments und
                    Meilensteine, die in diesen Roadmaps festgehalten sind, ein
                    wertvoller und verpflichtender Beitrag zur Erreichung der
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Downloads/Oeffentliche_Downloads/Verein/GISCO_Objectives.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                      >Ziele des Forums</a
                    >
                    darstellen.
                  </p>
                  <p>
                    Ergänzend zum Monitoring und ausgehend von der
                    <a
                      href="https://www.kakaoforum.de/index.php?eID=dumpFile&t=f&f=6112&token=23a808072571d74982ff0ea3e94b47ffa9cdc701"
                      target="_blank"
                      style="color: #7c9d2c"
                      >GISCO-Roadmap</a
                    >
                    des Forum Nachhaltiger Kakao, in der die
                    <a
                      href="https://www.kakaoforum.de/ueber-uns/unsere-ziele/"
                      target="_blank"
                      style="color: #7c9d2c"
                      >Ziele</a
                    >,
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Downloads/Oeffentliche_Downloads/Verein/Wertbestueckung_der_Indikatoren_fuer_Einzelziele_2022.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                      >wertbestückten Indikatoren</a
                    >
                    und
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Downloads/Oeffentliche_Downloads/Verein/Handlungsempfehlungen.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                      >Handlungsempfehlungen</a
                    >
                    des Forum Nachhaltiger Kakao zu den Fokusthemen
                    Rückverfolgbarkeit, zertifizierter/unabhängig verifizierter
                    Kakao, Entwaldung/Agroforst, Kinderarbeit und
                    Existenzsichernde Einkommen aufgeführt sind, sollen daher
                    die Mitglieder des Forum Nachhaltiger Kakao individuelle
                    Roadmaps zu diesen Fokusthemen ausarbeiten, die auf der
                    Website des Forums veröffentlicht werden.
                  </p>
                  <p>
                    Mehr Informationen zu den individuellen Roadmaps sind im
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Downloads/Oeffentliche_Downloads/News_verbunden_ab-7-2020/Hintergrundinformation_Roadmaps.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                    >
                      Hintergrundpapier</a
                    >
                    zu finden.
                  </p>
                  {% else %}
                  <p>
                    At the 2022 General Meeting of the German Initiative on
                    Sustainable Cocoa (GISCO), it was decided that the
                    preparation of individual roadmaps by each GISCO member and
                    annual public reporting on commitments and milestones
                    included in these roadmaps is a valuable and mandatory
                    contribution to achieve
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Downloads/Oeffentliche_Downloads/Verein/GISCO_Objectives.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                      >GISCO’s objectives.</a
                    >
                  </p>
                  <p>
                    In addition to the monitoring and based on the
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Workshops_und_Veranstaltungen/Mitgliederversammlungen/Mitgliederversammlung_2022/ROADMAPS/EN_GISCO_Roadmap.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                      >GISCO roadmap</a
                    >
                    which lists the goals, targeted indicators and
                    recommendations for action of the German Initiative on
                    Sustainable Cocoa on the focus topics of
                    certified/independently verified cocoa, traceability,
                    deforestation/agroforestry, child labor and living income,
                    the members of GISCO draw up individual roadmaps on these
                    focus topics, which are published on the GISCO website.
                  </p>
                  <p>
                    More information on the individual roadmaps can be found in
                    the
                    <a
                      href="https://www.kakaoforum.de/fileadmin/Redaktion/Downloads/Oeffentliche_Downloads/News_verbunden_ab-7-2020/Background_Information_Roadmaps.pdf"
                      target="_blank"
                      style="color: #7c9d2c"
                      >background document.</a
                    >
                  </p>
                  {% endif %}
                </div>
              </div>
              {% for dt in detail %}
              <div
                class="row"
                style="
                  margin-bottom: 10px;
                  margin-top: 10px;
                  width: 100%;
                  margin-left: 0px;
                  margin-right: 0px;
                "
              >
                <div
                  class="col"
                  style="width: 100%; padding-left: 0px; padding-right: 0px"
                >
                  <div style="page-break-inside: avoid; padding-top: 30px">
                    <h3 style="margin: 0px; font-size: 19px; color: #673017">
                      {% if (dt.name == "Member’s comment" or dt.name ==
                      "Kommentar des Mitglieds") %} {% else %} {{dt.name}} {%
                      endif %}
                    </h3>
                    {% if (dt.name == "Living Income" or dt.name ==
                    "Existenzsichernde Einkommen") %} {% if data.language ==
                    "de" %}
                    <p style="font-style: italic; font-size: 12px">
                      <b style="display: block">Anmerkung:</b>
                      Eine kartellrechtliche Prüfung zur Frage, ob und wie im
                      Rahmen der individuellen Roadmaps auf individueller Ebene
                      zu Einkommens- und Preisfragen Bericht erstattet werden
                      kann, wird bis Mitte 2023 durchgeführt. Nach Vorliegen der
                      kartellrechtlichen Prüfung erfolgt eine außerordentliche
                      Mitgliederversammlung mit einer neuen Beschlussvorlage zu
                      individuellen Roadmaps zu existenzsichernden Einkommen.
                      Bis dahin können auf freiwilliger Basis Commitments und
                      Meilensteine zum Thema existenzsichernde Einkommen in die
                      eigene Roadmap integriert werden.
                    </p>
                    {% else %}
                    <p style="font-style: italic; font-size: 12px">
                      <b style="display: block">Note:</b>
                      An antitrust review on the question of whether and how to
                      report on income and price issues at the individual level
                      within the framework of the individual roadmaps will be
                      carried out by mid-2023. Once the antitrust review is
                      available, a new draft resolution on individual roadmaps
                      with regards Living Income will be submitted to an
                      extraordinary General Assembly. Until then, commitments
                      and milestones on the topic of Living Income can be
                      integrated into the individual roadmaps on a voluntary
                      basis.
                    </p>
                    {% endif %} {% endif %} {% if dt.description %}
                    <div
                      style="
                        padding: 20px;
                        background: #e1e9d4;
                        border-left: 1.5px solid #789922;
                        border-right: 1.5px solid #789922;
                        margin: 0px;
                        font-style: italic;
                        font-size: 14px;
                      "
                    >
                      {{dt.description}}
                    </div>
                    {% endif %}
                  </div>
                  {% for r in dt.data %}
                  <table
                    class="table"
                    style="margin-bottom: 0px; padding-bottom: 5px"
                  >
                    <tbody>
                      {% for a in r.answers %} {% if a.value and a.value_type !=
                      "list" %}
                      <tr class="spacer">
                        <td colspan="2"><br /></td>
                      </tr>
                      <tr>
                        <td
                          style="
                            page-break-inside: avoid;
                            word-break: break-word;
                            background-color: #e1e9d4;
                            border: 2px solid #789922;
                            padding: 10px;
                          "
                        >
                          <div style="font-weight: bold">
                            <span
                              style="
                                text-decoration: underline;
                                font-size: 14px;
                              "
                              >{{a.question}} :</span
                            >
                            {% if a.tooltip %}
                            <div
                              style="
                                display: block;
                                font-size: 14px;
                                font-style: italic;
                                font-weight: normal;
                              "
                            >
                              Tooltip: {{a.tooltip}}
                            </div>
                            {% endif %}
                          </div>
                          <div style="padding: 10px">
                            {% if a.value_type == "list" and a.value %}
                            <ul style="margin-bottom: 0px">
                              {% for v in a.value %}
                              <li>{{v.milestone}}</li>
                              {% endfor %}
                            </ul>
                            {% else %}
                            <div>{{ a.value }}</div>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                      {% else %}
                      <tr class="spacer">
                        <td colspan="2"><br /></td>
                      </tr>
                      {% for v in a.value %}
                      <tr style="padding-bottom: 15px">
                        <td
                          style="
                            page-break-inside: avoid;
                            word-break: break-word;
                            background-color: #e1e9d4;
                            border: 2px solid #789922;
                            padding: 10px;
                          "
                        >
                          <div style="font-weight: bold">
                            <span
                              style="
                                text-decoration: underline;
                                font-size: 14px;
                              "
                              >{{a.question}} :</span
                            >
                            {% if a.tooltip %}
                            <div
                              style="
                                display: block;
                                font-size: 14px;
                                font-style: italic;
                                font-weight: normal;
                              "
                            >
                              Tooltip: {{a.tooltip}}
                            </div>
                            {% endif %}
                            <div
                              style="
                                display: block;
                                font-size: 14px;
                                font-weight: normal;
                                padding: 10px;
                              "
                            >
                              {{v.milestone}}
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %} {% endif %} {% endfor %}
                    </tbody>
                  </table>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
